.record {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  text-align: left;
  background: #fff;
  margin-top: 4px;
  border-radius: 4px;
  font: 400 13px system-ui;
  font-family: inherit;
  outline: none;
}

.record:hover {
  cursor: pointer;
}

.record:hover .text {
  text-decoration: underline;
}

.text {
  max-width: 120px;
}

.record:hover .record_button {
  opacity: 1;
  transition-duration: 0.5s;
}

.hide {
  display: none;
}

.show {
  margin-top: -3px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  text-align: left;
  background: #F4F4F1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font: 400 13px system-ui;
  font-family: inherit;
}