.container_todo {
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
}

.header {
  background-color: #b3ffff;
  width: 200px;
  height: 35px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 740px) {
  .header{
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
